<!doctype html>
<html>
<?- include('../partials/head') -?>

<body>
    <?- include('../partials/nav') -?>
    <?- include('../partials/header') -?>
    <div class="container text-center text-white" style="position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%)">
        <h1>
            <?= pageData.title ?>
        </h1>
        <p>Welcome to
            <?= pageData.title ?>
        </p>
    </div>
    <?- include('../partials/footer') -?>
</body>

</html>